html {
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css?family=Exo:700");
@import url("https://fonts.googleapis.com/css?family=Abel");
body {
  background-color: #000000;
  /* background-image: url("img2/GamingLP2.jpg"); */
  padding: 0;
  margin: 0;
  -webkit-transform: perspective(900px);
  -webkit-transform-style: preserve-3d;
  overflow-x: hidden;
}

/* classes */

.pad {
  padding-left: 10%;
  padding-right: 10%;
}
.col-4 {
  padding-left: 0px;
}
.small_h1 {
  font-size: 1.2rem;
  font-weight: bolder;
}
.small_p {
  font-size: 0.8rem;
}
.small_i {
  font-size: 0.8rem;
}
.gen_p {
  font-size: 1rem;
}

/*  */
.hori_menu {
  list-style-type: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
}
.hori_menu li {
  float: left;
}
.hori_menu li a {
  color: #ffffff;
  display: block;
  text-align: center;
  text-decoration: none;
}
.hori_menu li a:hover {
  background-color: #01a775ea;
}

/*  */

/*  */
.right_bar {
  padding-top: 20px;
}

.up_cov {
  background: linear-gradient(45deg, #000000 20%, #000000 100%);
  background-position: center;
  background-size: cover;
  top: 0;
  left: 5%;
  width: 100%;
  height: 100%;
}

.cov {
  position: sticky;
  top: 0;
  left: 5%;
  width: 90%;
  height: 100px;
  padding: 10%;
  color: #ffffff;
  font-family: "Megrim", cursive;
  font-size: 1.2rem;
  font-weight: bolder;
}
.cov li {
  padding-top: 10px;
  padding-right: 10px;
}
.cov a {
  text-decoration: none;
  color: #969696;
  display: flex;
}
.cov a.active p {
  text-decoration: none;
  color: #ffffff;
  display: flex;
}
.cov a.active span {
  color: rgb(0, 110, 255);
  text-decoration: none;
  display: flex;
}
.cov #social {
  font-size: 18px;
  /* display: inline-block; */
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 9px 11px;
  margin: 5px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.cov #social:hover {
  background: #149ddd;
  color: #fff;
  text-decoration: none;
}
.cov #social:hover span {
  color: #fff;
  text-decoration: none;
}

.cov a:hover span {
  color: rgb(0, 110, 255);
  text-decoration: none;
}
.cov a:hover p {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.bottom_text {
  bottom: 0px;
}

/*  */
.out_card {
  padding: 0px;
}

.carde {
  height: 100%;
  width: 100%;
  padding: 0%;
  background: linear-gradient(180deg, rgb(1, 134, 223) 95%, rgb(255, 255, 255) 10%);
  text-align: center;
  z-index: 1;
  cursor: pointer;
  transition: 0.5s;
}
.carde:hover {
  transition: 0.5s;
  transform: scale(0.9);
}
.carde .imgBx img {
  width: 100%;
  height: 150px;
  object-fit: fill;
}
.carde .details {
  padding: 20px;
  transition: 0.5s;
  color: #000000;
  text-align: center;
  font-size: 1rem;
}

.button {
  border: none;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
/*  */
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
